header{
    width:100%;
    height: 80px;
    border-bottom: solid 1px black;
}

main{
    height:770px;
    text-align: center;
}
main div.main{
    width:40%;
    display : inline-block;
    border: solid 1px black;
}

.copy{
    border: solid 1px blue;
}

footer{
    height: 80px;
    border-top: solid 1px black;
}

#translate{
    border: solid 1px green;
}